#edit-ecom_payment_card_type {
  font-size: 14px;
  height: 1.5em;
}

#edit-ecom_payment_card_type option {
  padding-top: 12px;
  padding-left: 68px;
  height: 31px;
  background-repeat: no-repeat;
  background-position: 5px 3px;
}

#cardtype-VISA {
  background-image: url(images/cards_visa.gif);
}
#cardtype-MAST {
  background-image: url(images/cards_mastercard.gif);
}
#cardtype-AMER {
  background-image: url(images/cards_amex.gif);
}
#cardtype-DISC {
  background-image: url(images/cards_discover.gif);
}
